{% extends 'layout.html' %}

{% block left %}
    <div class="left">
        <h5>Page Topics</h5>
        {% for room in rooms.items %}
        <a  class="article-title" href="https://www.google.com/search?q={{room.topic}}" target="_blank">{{room.topic}}</a> <br><br>
    {% endfor %}
    </div>
{% endblock left %}

{% block content %}
    <i><h5>{{rooms.total}} Available Room(s)</h5></i>
    {% for room in rooms.items %}
        <article class="content-section">
            <div class="media-body">
                <div class="article-metadata border-bottom mb-2">
                    <img class="rounded-circle host-img" src="{{url_for('static', filename='profile_pics/' + room.creator.image_file) }}">
                    <a class="article-title" href="{{url_for('users.user_rooms', username=room.creator.username)}}"><b>@{{ room.creator.username }}</b></a>
                    <small style="float: right;">{{ room.date_created.strftime('%b %d %Y') }}</small>
                    <h2><a class="article-title" href="{{url_for('rooms.room', pk=room.id)}}">
                        {% if room.description|length < 50 %}
                        {{ room.description }}
                        {% else %}
                            {{ room.description[:100]+' ...' }}
                        {% endif %}
                        </a></h2>
                    <br>
                    {% if current_user == room.creator %}
                        <a href="{{url_for('rooms.update_room', pk=room.id)}}" class="btn btn-light">Edit Room</a>  
                        <a href="{{url_for('rooms.delete_room', pk=room.id)}}" class="btn btn-danger">Delete Room</a>
                    {% endif %}
                    <!-- added js file in layout -->
                    {% if current_user.is_authenticated %}
                        {% if room.creator != current_user %}
                            <button id='select' class="btn btn-info" onclick="changeColorAndTest('green')">Join?</button>
                            {{room.creator.id}}
                        {% else %}
                            {{'cannot join'}}
                        {% endif %}
                    {% endif %}
                    
                    
                </div>
                <small>Joined</small> 
                <div class="topic">
                    {% if room.topic|length > 11 %}
                        <small>{{ room.topic[:5]+' ...' }}</small>
                    {% else %}
                        <small>{{ room.topic }}</small>
                    {% endif %}
                </div>
            </div>
        </article>
    {% endfor %}
    {% for page_number in rooms.iter_pages(left_edge=1, left_current=1, right_edge=1,  right_current=2) %}
        {% if page_number %}
            {% if rooms.page == page_number %}
                <a class="btn btn-info" href="{{url_for('main.home', page=page_number)}}">{{page_number}}</a>
            {% else %}
                <a class="btn btn-outline-info" href="{{url_for('main.home', page=page_number)}}">{{page_number}}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content %}

{% block right %}
    <div class="right">
        <h3>Dummy Text</h3>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining 
            essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing 
            Lorem Ipsum passages, and more recently 
            with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </div>
{% endblock right%}