{% extends 'layout.html' %}

{% block left %}
<p>
    <div class="left-section">
        <h3>All Topics: {{ rooms|length }}</h3>
        {% for room in rooms %}
        <a  class="article-title" href="{{url_for('room', pk=room.id)}}">{{room.topic}}</a> <br><br>
    {% endfor %}
    </div>
</p>
{% endblock left %}

{% block content %}
    {% for room in rooms %}
        <article class="content-section">
            <div class="media-body">
                <div class="article-metadata border-bottom mb-2">
                    <img class="rounded-circle host-img" src="{{url_for('static', filename='profile_pics/' + room.creator.image_file) }}">
                    <a class="article-title" href="{{url_for('profile', username=room.creator.username)}} "><b>@{{ room.creator.username }}</b></a>
                    <small style="float: right;">{{ room.date_created.strftime('%b %d %Y') }}</small>
                    <h2><a class="article-title" href="{{url_for('room', pk=room.id)}}">
                        {% if room.description|length < 25 %}
                        {{ room.description }}
                        {% else %}
                            {{ room.description[:50]+' ...' }}
                        {% endif %}
                        </a></h2>
                    <br>

                    <!-- {% if current_user.id == room.creator.id %}
                        <!-- {{ 'You are the host'}} -->
                    <!-- {% else %}
                        <button id={{room.id}} onclick="changeColor('green')">Join?</button>
                    {% endif %} --> 
                    <a href="{{url_for('update_room', pk=room.id)}}" class="btn btn-light">Edit Room</a>  
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#deleteModal">Delete</button>
                    <!-- <a href="{{url_for('delete_room', pk=room.id)}}" class="btn btn-warning">Delete Room</a> -->
                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">You Sure?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                There is no going back
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <form action="{{url_for('delete_room', pk=room.id)}}" method="post">
                                <input class="btn btn-danger" type="submit" value="Delete">
                            </form>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <small id="demo1">{{room.total_members}}</small> <small>Joined</small> 
                <div class="topic">
                    {% if room.topic|length > 11 %}
                        <small>{{ room.topic[:5]+' ...' }}</small>
                    {% else %}
                        <small>{{ room.topic }}</small>
                    {% endif %}
                </div>
            </div>
        </article>
    {% endfor %}
{% endblock content %}

{% block right %}
<p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
    when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
    It has survived not only five centuries, but also the leap into electronic typesetting, 
    remaining essentially unchanged. 
    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p>
{% endblock right%}